<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
</head>

<body>
    <p>{{.info}}</p>
    <form action="{{.targetURL}}" method="post">
        <p>邮箱地址</p>
        <p><input type="text" name="email-address" maxlength="128" required id="uid"></p>
        <p>密码</p>
        <p><input type="password" name="passwd" maxlength="32" required id="passwd"></p>

        <p><input type="submit" value="登录"></p>
    </form>
</body>

</html>