<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
</head>
<body>
    <form action="/user/password-change" method="post">
        <ul>
            <li>
                原始密码：<input type="password" name="opw" required id="opw">
            </li>
            <li>
                新密码：<input type="password" name="np1" required id="np1">
            </li>
            <li>
                新密码确认：<input type="password" name="np2" required id="np2">
            </li>
        </ul>
        <input type="submit" value="确认修改">
    </form>
</body>
</html>